<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign up</h1>
        <p class="text-xs-center">
          <a href="">Have an account?</a>
        </p>

        <.live_component
          module={RealworldWeb.AuthLive.RegisterForm}
          id="sign-up-form"
          form={@form}
        />
      </div>
    </div>
  </div>
</div>
