<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content={csrf_token_value()} />
    <.live_title suffix="· Phoenix Framework">
      <%= assigns[:page_title] || "Conduit" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={static_path(@conn, "/assets/app.css")} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={static_path(@conn, "/assets/app.js")}
    >
    </script>
    <link
      href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link rel="stylesheet" href="//demo.productionready.io/main.css" />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-light">
        <div class="container">
          <a class="navbar-brand" href={~p"/"}>conduit</a>
          <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
              <.nav_link href={~p"/"} path_info={@conn.path_info}>
                Home
              </.nav_link>
            </li>

            <%= if @current_user do %>
              <li class="nav-item">
                <.nav_link
                  href={~p"/editor"}
                  path_info={@conn.path_info}
                >
                  <i class="ion-compose"></i>&nbsp;New Article
                </.nav_link>
              </li>
              <li class="nav-item">
                <.nav_link
                  href={~p"/settings"}
                  path_info={@conn.path_info}
                >
                  <i class="ion-gear-a"></i>&nbsp;Settings
                </.nav_link>
              </li>
              <li class="nav-item">
                <.nav_link
                  href={~p"/profile/#{@current_user.username}"}
                  path_info={@conn.path_info}
                >
                  <img class="user-pic" src={@conn.assigns.current_user.image} loading="lazy" />
                  <%= @current_user.username %>
                </.nav_link>
              </li>
            <% else %>
              <li class="nav-item">
                <.nav_link
                  href={~p"/login"}
                  path_info={@conn.path_info}
                >
                  Sign in
                </.nav_link>
              </li>
              <li class="nav-item">
                <.nav_link
                  href={~p"/register"}
                  path_info={@conn.path_info}
                >
                  Sign up
                </.nav_link>
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= @inner_content %>
    <footer>
      <div class="container">
        <a href="/" class="logo-font">conduit</a>
        <span class="attribution">
          An interactive learning project from <a href="https://thinkster.io">Thinkster</a>. Code &amp;
          design licensed under MIT.
        </span>
      </div>
    </footer>
  </body>
</html>
