<div class="settings-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Your Settings</h1>
        <.live_component module={RealworldWeb.SettingsLive.Form} id="settings-form" form={@form} />
        <hr />
        <button phx-click="logout" class="btn btn-outline-danger">
          Or click here to logout.
        </button>
      </div>
    </div>
  </div>
</div>
